#footer{
  font-family: 'Exo', sans-serif;
  background: $footer;
  width: 100%;
  height: auto;
  .footer-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px 50px 30px;
    .copyright{
      font-size: 0.8rem;
      color: #1B98E0;
      letter-spacing: 1px;
      padding: 0 10px 0 10px;
    }
    .sub-menu{
      display: flex;
      flex-direction: row;
      align-items: center;
      .menu-box{
        display: flex;
        flex-direction: row;
        li{
          font-size: 0.8rem;
          color: #FFFFFF;
          letter-spacing: 1px;
          padding: 0 10px 0 10px;
          text-transform: uppercase;
        }
      }
      .fa-angle-up{
        color: #1B98E0;
        padding: 0 10px 0 10px;
      }
    }
  }
}
