#footer {
  font-family: 'Exo', sans-serif;
  background: $footer;
  width: 100%;
  height: auto;

  .footer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px;

    .copyright {
      font-size: 0.8rem;
      color: #1B98E0;
      letter-spacing: 1px;
      line-height: 150%;
      padding: 0 10px;
    }

    .social-media {
      .fab {
        color: $lightblue;
        padding: 10px;
        font-size: 1.7rem;
        transition: all 0.6s ease-in-out;

        &:hover {
          color: #FFF;
        }
      }
    }

    .sub-menu {
      display: flex;
      flex-direction: row;
      align-items: center;

      .menu-box {
        display: flex;
        flex-direction: row;

        li {
          font-size: 0.8rem;
          padding: 0 10px;
          text-transform: uppercase;

          a {
            color: #FFFFFF;
            letter-spacing: 1px;
            transition: all 0.6s ease-in-out;

            &:hover {
              color: $lightblue;
            }
          }
        }
      }

      .fa-angle-up {
        color: #1B98E0;
        padding: 0 10px;
      }
    }
  }
}
//phone
@media (max-width: 767px) {
  #footer {
    .footer-box {
      display: flex;
      justify-content: space-between;

      .copyright {
        width: 33%;
        line-height: 150%;
      }

      .social-media {
        width: 33%;
      }

      .sub-menu {
        display: flex;
        flex-direction: row;
        padding: 0 5px;

        .menu-box {
          display: flex;
          flex-direction: column;

          li {
            padding: 5px 0;
          }
        }
      }
    }
  }
}
//tablet
@media (min-width: 768px) and (max-width: 991px) {
  #footer {
    .footer-box {
      display: flex;
      justify-content: space-between;

      .copyright {
        width: 33%;
        line-height: 150%;
      }

      .social-media {
        width: 33%;
      }

      .sub-menu {
        display: flex;
        flex-direction: row;
        padding: 0 5px;

        .menu-box {
          display: flex;
          flex-direction: column;

          li {
            padding: 5px 0;
          }
        }
      }
    }
  }
}
//laptop
@media (min-width: 992px) and (max-width: 1199px) {}
//extra big
@media (min-width: 1200px) and (max-width: 1580px) {}
